html {
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;	
}

.firstSurface {
	background-color: rgb(202, 202, 202);
	box-shadow: inset 0 0 50px 20px rgba(160, 160, 160, 0.21);
}

.firstSurface h3 {
	color: #F93608;
}

.sideBarSurface {

}
